/* button {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #66FCF1 !important;
  color: white !important;
  border: none !important;
  cursor: pointer;
} */

.login-container {
  position: relative;
}

.login {
  width: 50% !important;
  margin-top: 10%;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 25%;
}
