table {
    background-color: #232a33;
    width: 100%;
    border: 3px solid #71f1e8;
    color: #71f1e8;
    border-radius: 10px !important;
}

th {
    border-bottom: 1px solid #71f1e8;
    padding-bottom: 0.2em;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #71f1e8;

}

.text-left {
    text-align: start;
}

.pagination {
    background-color: #2b343f;
    width: 100%;
    border: 3px solid #71f1e8;
    color: #71f1e8;
    padding: 5px;
    margin-top: 0.5em;
    border-radius: 5px;
}

.navBtn {
    max-height: 10%;
    flex-grow: 1;
    background-color: #224e4c;
    border: 1px solid  #71f1e8;
    font-size: large;
    color: #71f1e8;
}

.navBtnHover:hover {
    background-color: #71f1e8;
    color: #224e4c;
    cursor: pointer
}

.tableBtn {
    background-color: transparent;
    color: #71f1e8;
    border: none
}
