body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1F2833
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.examplecolors {
  color: '#45A29E TEAL';
  color: '#66FCF1 TURQUOISE';
  color: '#C5C6C7 GREY';
  color: '#1F2833 DARK';
  color: '#0B0C10 DARKEST';
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
